url: 'https://dansis.dk'
baseurl: '/'

permalink: pretty
title: 'DANSIS'

future: true

logo:
  mobile: "images/logo/logo-mobile.svg"
  mobile_height: "32px"
  mobile_width: "32px"
  desktop: "images/logo/logo.svg"
  desktop_height: "123px"
  desktop_width: "373px"

home: 
  limit_info: 6

collections:
  info:
    output: true
    sort_by: weight
  seminar:
    output: true
  news:
    output: true

defaults:
  - scope:
      path: ""
      type: "info"
    values:
      layout: "infopage"
  - scope:
      path: ""
      type: "seminar"
    values:
      layout: "seminar"
  - scope:
      path: ""
      type: "news"
    values:
      layout: "newsupdate"

sass:
  style: compressed # possible values: nested expanded compact compressed

plugins:
  - jekyll-environment-variables

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - LICENSE.md
  - LICENSE
  - README.md