---
layout: default
bodyClass: "page-seminar"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="seminar seminar-single">
        <h1 class="title">{{page.title}}</h1>
        <h3 class="content">Venue:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="{{page.googleurl}}" rel="noreferrer">{{page.venue}}</a></h3>
        <h3 class="content">Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{page.date | date: '%d %B %Y'}}</h3>
        <div class="content">{{content}}</div>
        {% if page.registrationurl %}
        <h3 class="content"><a class="content" target="_blank" href="{ page.registrationurl }}" rel="noreferrer">Register here!</a></h3>
        {% else %}
        <h3 class="content">Not open for registration yet</h3>
        {% endif %}
      </div>
    </div>
  </div>
</div>