---
layout: default
---

{% assign today_date = 'now' | date: '%Y%m%d' | minus: 0%}
{% assign seminar_date = page.date | date: '%Y%m%d' | times: 1 %}
{% assign tree_url = site.tree_url %}

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-12">
      <div class="seminar seminar-single">
        <h1 class="title">{{page.title}}</h1>
        {% if page.image %}
        <div class="seminar-image">
          <img height="400" alt="{{ page.title }}" class="img-fluid mb-2 intro-image-hide-mobile" src="{{ page.image | relative_url }}" />
        </div>
        {% endif %}
        {% if page.venue %}
        <h3 class="content">Venue:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="{{page.googleurl}}" rel="noreferrer">{{page.venue}}</a></h3>
        {% endif %}
        <h3 class="content">Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ page.date | date: '%d' | plus:'0'}} {{ page.date | date: '%B %Y' }}</h3>

        {% if page.filefolder %}
        <h3 class="content">Slides:</h3>
          {% for pdf in site.static_files %}
            {% if pdf.path contains page.filefolder %}
                <h4 class="content"><a target="_blank" href="{{ tree_url | append: pdf.path | append: '/' | append: item.filename | append: '?download='}}" rel="noreferrer">{{pdf.name}}</a></h4>
            {% endif %}
          {% endfor %}
        {% endif %}

        <div class="content">{{content}}</div>
        {% if page.identifier and today_date <= seminar_date%}
        <script src="https://billetto.dk/widget.js"></script>
        <billetto-widget type="button" event={{page.identifier}} organization="billetto.dk" lang="en" theme="light" color="#0eafee" whitelabel hide-banners></billetto-widget>
        {% endif %}
      </div>
    </div>
  </div>
</div>