---
layout: default
bodyClass: "page-seminars"
---

{% assign today_date = 'now' | date: '%Y%m%d' | times: 1 %}
{% assign seminars = site.seminar %}

<div class="container pt-6 pb-6">
    <div class="row">
        {% for seminar in seminars %}
        {% assign seminar_date = seminar.date | date: '%Y%m%d' | times: 1 %}
        {% if today_date <= seminar_date %}
        <div class="col-12 col-md-6 mb-2">
            <div class="seminar seminar-summary seminar-summary-large">
                {% if seminar.image %}
                <a href="{{ seminar.url | relative_url }}">
                <div class="seminar-image">
                    <img width="200" height="200" alt="{{ seminar.title }}" class="img-fluid mb-2" src="{{ seminar.image | relative_url }}">
                </div>
                </a>
                {% endif %}
                <a href="{{ seminar.url | relative_url }}">
                    <div class="seminar-meta">
                        <h2 class="seminar-name">{{ seminar.title }}</h2>
                        <p class="seminar-description">
                          {{ seminar.date | date: '%d' | plus:'0'}} {{ seminar.date | date: '%B %Y' }}
                        </p>
                        {% if seminar.venue %}
                        {{ seminar.venue }}
                        {% endif %}
                    </div>
                  </a>
                <div class="seminar-content">{{ seminar.content | truncate: 100 }}</div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="row pt-6 pb-6">
        {% assign seminars = site.seminar | sort: "date" %}
        {% for seminar in seminars reversed%}
        {% assign seminar_date = seminar.date | date: '%Y%m%d' | times: 1 %}
        {% if today_date > seminar_date %}
        <div class="col-12 col-md-4 mb-3">
            <div class="seminar seminar-summary">
                {% if seminar.image %}
                <div class="seminar-image">
                    <img width="60" height="60" alt="{{ seminar.title }}" class="img-fluid mb-2" src="{{ seminar.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="seminar-meta">
                    <h2 class="seminar-name"><a href="{{ seminar.url | relative_url }}">{{ seminar.title }}</a></h2>
                    <p class="seminar-description">{{ seminar.date | date: '%d' | plus:'0'}} {{ seminar.date | date: '%B %Y' }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
